.container {
    width: 600px;
    height: 400px;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr ;
    padding: 100px;
}
.a {
    height: 60px;
    width: 60px;
    background-color: aliceblue;
}
.item1 {
    grid-column: 1;
}
.item2 {
    grid-column: 3;
}
.item3 {
   grid-column: 1;
   grid-row: 4;
}
.item4 {
    grid-column: 3;
    grid-row: 4;
}