.container {
    width: 600px;
    height: 200px;
    background-color: gray;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: auto, auto, auto, auto;
    display: grid;
}
.div {
    background-color: aliceblue;
    border: 5px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a {
    grid-column: 1/3;
    grid-row: 1;
}
.b {
    grid-column: 3/4;
    grid-row: 1/3;
}
.c {
    grid-column: 1/2;
}
.d {
    grid-column: 2/3;
}
.e {
    grid-column: 1/4;
}
