.container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: dodgerblue;
    padding: 10px;
    height: 600px;
    gap: 50px 25px
}
.container > div {
    background-color: white;
    border: 1px solid;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
